.services {
    padding: 250px 0 20px 0;
    width: 70%;
    margin: 0 auto;
  }
  
  .titreAndsub {
    width: 100vh;
  }
  
  .subtitle {
    font-size: 15px;
    color: #3f3f3f;
  }
  
  .services-card {
    display: flex;
  }
  
  
  .services-titre {
    font-size: 15px;
    font-weight: 700;
    margin: 10px 0 20px 0;
  }
  
  .services-text {
    color: #999;
  }